name: Publish Docker Image

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build Docker Image
      run: docker build -t bootstrap-chat:$(date +%s) .
    
    - name: Publish Docker Image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: neffos/bootstrap-chat
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
